@page "{reference}"
@model Shop.UI.Pages.OrderModel
@{
}


<div>
    <h1>
        @Model.Order.OrderRef
    </h1>

    @foreach (var product in Model.Order.Products)
    {
        <div>
            @product.Name - @product.Description - @product.Qty - @product.Value
        </div>
    }
</div>